<div class="container center">
    <div>
        <div>
            <div class="card shadow">
                <div class="card-body">
                      <form>
                        <mat-form-field>
                          <mat-label>Nome</mat-label>
                          <input matInput #input minlength="10" placeholder="Ex. nome.sobrenome" name="first_name" [(ngModel)]="first_name">
                        </mat-form-field>     
                        <mat-form-field>
                          <mat-label>Sobrenome</mat-label>
                          <input matInput #input minlength="10" placeholder="Ex. nome.sobrenome" name="last_name" [(ngModel)]="last_name">
                        </mat-form-field>     
    
                        <mat-form-field>
                          <mat-label>Editor</mat-label>
                          <mat-select  name="editor" [(ngModel)]="editor">
                            <mat-option value="false">Não</mat-option>
                            <mat-option value="true">Sim</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                          <mat-label>Senha</mat-label>
                          <input matInput disabled="true" [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="password">
                          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                        </mat-form-field> 
                        
                        <button mat-button (click)="updateUser()" class="add" style="color: #fff; text-shadow: 1px 1px 2px #0003;">
                          <mat-icon> save </mat-icon>
                          Atualizar
                        </button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>