<mat-toolbar class="header">
    <nav class="nav">
        <a (click)="back()" class="logo">i</a>
        <button class="hamburguer" (click)="navMenu()"></button>
        <ul class="nav-list">
            <li><a routerLink="home">Sobre</a></li>
            <li><a routerLink="config">Configurações</a></li>
            <li><a routerLink="escalas">Escalas</a></li>
            <li><a routerLink="eventos">Eventos</a></li>
            <li><a routerLink="usuarios">Usuários</a></li>
            <li><a routerLink="">Perfil</a></li>
        </ul>
    </nav>
    <!-- <span class="theme">
        <mat-icon *ngIf="!theme" (click)="isTheme('dark-theme')">
            brightness_high
        </mat-icon>
        <mat-icon *ngIf="theme" (click)="isTheme('')">
            brightness_3
        </mat-icon>
    </span> -->
</mat-toolbar>
           