<mat-toolbar class="header">
    <nav class="nav">
        <a href="#" class="logo">i</a>
        <button class="hamburguer" (click)="navMenu()"></button>
        <ul class="nav-list">
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Configurações</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Perfil</a></li>
        </ul>
    </nav>
    <!-- <span class="theme">
        <mat-icon *ngIf="!theme" (click)="isTheme('dark-theme')">
            brightness_high
        </mat-icon>
        <mat-icon *ngIf="theme" (click)="isTheme('')">
            brightness_3
        </mat-icon>
    </span> -->
</mat-toolbar>
           