<div class="container center">
    <div class="card">
        <div class="card-corpo">
            <div class="card-list">
                <div class="li">Gerencie</div>
            </div>
        </div>
    </div>  
    <div class="parallax"></div>
    <div class="card">
        <div class="card-corpo">
            <div class="card-list para">
                <div class="li">Organize</div>
            </div>
        </div>
    </div>  
    <div class="parallax"></div>
    <div class="card">
        <div class="card-corpo bloco">
            <div class="card-list">
                <div class="li">Espalhe</div>
                <div class="slogan">O que há de melhor</div>        
            </div>
        </div>
    </div>  
</div>
    