.card
{
    font-family: 'Caveat', cursive;
    background: url(../../../assets/yellow.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: invert(80%) brightness(60%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.486);
    height: 50vh;
    padding: 10vh;
    display: grid;
    align-items: center;
    text-align: center;
}

.card .card-title
{
    font-size: 2rem;
    text-shadow: 2px 2px 3px #0004;
    color: var(--textColor);
    letter-spacing: 3px;
    font-weight: 500;
}

.card-list
{
    display: grid;
    align-items: center;
}

.card .card-list .li 
{
    color: #ffffff;
    font-size: 3rem;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card .slogan 
{
    font-size: 1.9rem;
    text-align: center;
    margin-top: 20vh;
    color: var(--textColor);
}

.card .slogan mat-icon 
{
    margin-left: 5px;
    color: rgb(255, 32, 32);
}

.parallax
{
    width: 100vw;
    height: 60vh;

    background: url(../../../assets/nature.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(60%);
}