<div class="card shadow">
    <div class="card-body">
        <form>

            <mat-form-field>
                <mat-label>Eventos</mat-label>
                <mat-select [disabled]="!isEditor" name="escala_id" [(ngModel)]="escala_id">
                    <mat-option *ngFor="let event of events" value="{{ event.id }}" (click)="selectDate()">{{ event.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Data do evento</mat-label>
                <input [readonly]="!isEditor" matInput [matDatepicker]="picker" name="start_date" [(ngModel)]="start_date" [min]="minDate" [max]="maxDate">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Horário do campo</mat-label>
                <input [readonly]="!isEditor" matInput type="time" name="hour" [(ngModel)]="hour">
            </mat-form-field> 

            <mat-form-field>
                <mat-label>Categorias</mat-label>
                <mat-select [disabled]="!isEditor"  name="categorias" [(ngModel)]="categorias">
                <mat-option value="">Escolha uma</mat-option>
                <mat-option value="Sermão">Sermão</mat-option>
                <mat-option value="Louvor_especial">Louvor especial</mat-option>
                <mat-option value="Louvor">Louvor</mat-option>
                <mat-option value="Oração">Oração</mat-option>
                <mat-option value="Ofertório">Ofertório</mat-option>
                <mat-option value="Ado_infantil">Ado. Infantil</mat-option>
                <mat-option value="Provai_vede">Provai e Vede</mat-option>
                <mat-option value="Informativo">Informativo</mat-option>
                <mat-option value="Outro">Outro</mat-option>
                <mat-option value="pausa">Pausa</mat-option>
                <mat-option value="entrada">Entrada</mat-option>
                <mat-option value="saida">Saída</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Pessoa(s)</mat-label>
                <input [readonly]="!isEditor" matInput #input name="pessoa" [(ngModel)]="pessoa">
            </mat-form-field> 

            <mat-form-field>
                <mat-label>Descrição</mat-label>
                <input [readonly]="!isEditor" matInput #input name="descricao" [(ngModel)]="descricao">
            </mat-form-field> 

            <div class="btns">
                <button *ngIf="isEditor || formParams.type == 'create'" type="button" mat-fab class="btn" (click)="criarCampo()">
                    <mat-icon>
                        add
                    </mat-icon>
                </button>
                <button type="button" mat-fab class="btn" (click)="viewEscala()">
                    <mat-icon>
                        remove_red_eye
                    </mat-icon>
                </button>                
            </div>

            <button *ngIf="formParams.type=='create'" mat-button (click)="criar()" class="add" style="margin-top: 5px; color: #fff; text-shadow: 1px 1px 2px #0003;">
                <mat-icon> create </mat-icon>
                Criar
            </button>
            <button *ngIf="isEditor && formParams.type=='edit'" mat-button (click)="atualizar()" class="add" style="margin-top: 5px; color: #ffffff; text-shadow: 1px 1px 2px #0003;">
                <mat-icon> save </mat-icon>
                Atualizar    
            </button>
            <button *ngIf="isEditor && formParams.type=='edit'" mat-button (click)="deletar()" class="delete" style="margin-top: 5px; color: #eee; text-shadow: 1px 1px 2px #0003;">
                <mat-icon> delete </mat-icon>
                Deletar
            </button>
            <button routerLink="/escalas" mat-button class="view" style="margin-top: 5px; color: #eee; text-shadow: 1px 1px 2px #0003;">
                Voltar
            </button>
        </form>
    </div>
</div>