<div class="container center">
    <mat-card class="card">
        <div class="btns">
            <button type="button" (click)="logout()" class="btn">
                <mat-icon>logout</mat-icon>
                Logout 
            </button>
            <button type="button" class="btn" (click)="copiarTexto('31982777939')">
                <mat-icon>headset</mat-icon>
                Suporte
            </button>
        </div>
        <fieldset class="box">
            <a class="password" (click)="editPassword()">Alterar a senha</a>
            <mat-icon *ngIf="!theme" (click)="isTheme('dark-theme')">
                brightness_high
            </mat-icon>
            <mat-icon *ngIf="theme" (click)="isTheme('')">
                brightness_3
            </mat-icon>            
        </fieldset>
    </mat-card>
</div>
