<div class="container center">
    <mat-card class="card">
        <div class="btns">
            <button type="button" (click)="logout()" class="btn">
                <mat-icon>logout</mat-icon>
                Logout 
            </button>
            <button type="button" class="btn" (click)="copiarTexto('31982777939')">
                <mat-icon>headset</mat-icon>
                Suporte
            </button>
        </div>
        <a class="password" (click)="editPassword()">Alterar a senha</a>
    </mat-card>
</div>
