<div class="center">
  <div *ngIf="data.title" mat-dialog-content>
    <h4>{{ data.title }}</h4>
  </div>

  <div *ngIf="data.message" mat-dialog-content>
    <p>{{ data.message }}</p>
  </div>

  <div class="escala card-body" *ngIf="data.escalaBox">
    <div *ngFor="let escala of data.escalaView" class="escala-item">
      <div class="escala-item-data">
        <h1>{{escala.hour}}</h1>
        <p>{{escala.categoria}} - {{escala.pessoa}}</p>
        <p>Obs.: {{escala.descricao}}</p>
      </div>
      <div class="escala-item-delete">
        <mat-icon class="delete" (click)="deleteCampo(data.escalaView, escala.id)">
          delete
        </mat-icon>
      </div>
    </div>      
  </div>

  <div *ngIf="data.passwordBox" class="card shadow">
    <div class="card-body">
        <form>
            <div class="mb-3">
                <h4 class="text-dark text-muted">Login</h4>
            </div>
            <mat-form-field>
                <mat-label>Usuário</mat-label>
                <input readonly="true" matInput #input name="user_name" [(ngModel)]="user_name">
            </mat-form-field>                        
            <mat-form-field>
                <mat-label>Senha atual</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nova senha</mat-label>
                <input matInput [type]="hideNew ? 'password' : 'text'" name="newPassword" [(ngModel)]="newPassword">
                <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
                  <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirme a senha</mat-label>
                <input matInput [type]="hideConfirm ? 'password' : 'text'" name="confirmPassword" [(ngModel)]="confirmPassword">
                <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                  <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button type="button" class="btn" (click)="salvePassword()">Salvar</button>
        </form>
    </div>
  </div>
  
  <div *ngIf="data.confirm" mat-dialog-actions>
    <button mat-button (click)="onConfirm(true)" class="yes" style="color: var(--secondColor);">Sim</button>
    <button mat-button (click)="onConfirm(false)" class="no" style="color: var(--secondColor);">Não</button>
  </div>

  <div *ngIf="data.alert" mat-dialog-actions>
    <button mat-button (click)="onConfirm(false)" class="save" style="color: var(--secondColor);">OK</button>
  </div>

  <div *ngIf="data.escalaBox" mat-dialog-actions>
    <button mat-button (click)="copy()" class="save" style="color: var(--secondColor);">COPY</button>
  </div>
</div>