<div class="container center">
    <div>
        <div>
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <mat-form-field>
                          <mat-label>Nome</mat-label>
                          <input matInput #input minlength="10" placeholder="Ex. Clara" name="Nome" [(ngModel)]="Nome">
                        </mat-form-field>     
                        <mat-form-field>
                          <mat-label>Sobrenome</mat-label>
                          <input matInput #input minlength="10" placeholder="Ex. Reis" name="Sobrenome" [(ngModel)]="Sobrenome">
                        </mat-form-field>     
                        <mat-form-field>
                          <mat-label>Senha</mat-label>
                          <input matInput [type]="hide ? 'password' : 'text'" name="Senha" [(ngModel)]="Senha" readonly="true">
                          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                        </mat-form-field>

                        <mat-form-field>
                          <mat-label>Perfil</mat-label>
                          <mat-select  name="Perfil" [(ngModel)]="Perfil">
                            <mat-option value="" selected>Escolha um perfil</mat-option>
                            <mat-option value="ZUI4ZeBuafPlyYRKQIqV">Comunicador(a)</mat-option>
                            <mat-option value="7m3EhRYDiAIK7IuF2Ba5">Diretor(a)</mat-option>
                            <mat-option value="aBT94LdeklllCbeSKDrg">Associado(a)</mat-option>
                          </mat-select>
                        </mat-form-field>
                        
                        <button mat-button (click)="addUser()" class="add" style="color: #fff; text-shadow: 1px 1px 2px #0003;">
                          <mat-icon> add </mat-icon>
                          Adicionar
                        </button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>