/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');
/* font-family: 'Dhurjati', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* font-family: 'Caveat', cursive; */

:root 
{
    --background: #ffffff;
    --primaryColor: #5cb1e9;
    --secondColor: #eee;
    --textColor: #272727;
    --warnColor: #e35e6b;
    --neutroColor: #afff79;
    --grayColor: #333;
    --selectedColor: #ffd139;
}

:root .dark-theme
{
    --background: #272727;
    --textColor: #ffffff;
}

/*PAGES*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container
{
    width: 100vw;
    height: 90vh;
    background-color: var(--background);
}
.center
{
    display: grid;
    align-items: center;
    justify-content: center;
}
.container::-webkit-scrollbar
{
    width: 10px;
}
.container::-webkit-scrollbar-thumb
{
    background-color: var(--primaryColor);
}
.container::-webkit-scrollbar-track
{
    background-color: var(--secondColor);
}
.btns
{
    margin: 20px 0;
}

/*BUTTONS*/
button.add
{
    background-color: var(--primaryColor);
    color: var(--secondColor);
}
button.delete
{
    background-color: var(--warnColor);
    color: var(--secondColor);
}
button.edit
{
    background-color: var(--neutroColor);
    color: var(--secondColor);
}
button.view
{
    background-color: var(--grayColor);
    color: var(--secondColor);
}
button.btn
{
    color: var(--secondColor);
    background-color: var(--primaryColor);
}
button.btn:hover
{
    opacity: .8;
    color: var(--secondColor);
    background-color: var(--primaryColor);
}

/*ICONS*/
mat-icon.delete
{
    cursor: pointer;
    color: var(--warnColor);
}
mat-icon.edit
{
    cursor: pointer;
    /* color: var(--neutroColor); */
    color: #000;
}
mat-icon.view
{
    cursor: pointer;
    color: var(--grayColor);
}
mat-icon.add
{
    cursor: pointer;
    color: var(--primaryColor);
}

/*FORM*/
form 
{
    display: grid;
}
form button.btn
{
    color: var(--background);
    background-color: var(--primaryColor);
}
