<div class="btns">
    <div *ngIf="isEditor" class="btns">
        <button mat-fab class="add" routerLink="create">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <mat-form-field *ngIf="isAssociado">
        <mat-label class="black">Departamentos</mat-label>
        <mat-select class="black" name="departamento_id" [(ngModel)]="departamento_id">
            <mat-option *ngFor="let dep of deps" value="{{ dep.id }}" (click)="selectDep()">{{ dep.name }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<full-calendar [options]="calendarOptions"></full-calendar>
